@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply min-h-screen;
}

.dark {
  color-scheme: dark;
}